<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning en html</title>
    <style>
        body {
            font-family: 'Open Sans' , sans-serif;
            margin: 25px;
            background-color: #666e857b;
        }
        header {
            background-color: #195a68;
            color: white;
            font-size: 20px;
            padding: 18px;
            text-align: center;
            border-radius: 209px;
        }
        section {   
            background: #8beaed;
            color: #2c344c;
            padding: 20px;
            text-align: center;
            border-radius: 50px;
            border: 1px solid #195a68;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {   
            background: #195a68;
            color: white;
            padding: 20px;
            text-align: center;
            border-radius: 109px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 1.2em;
            color: #555;
        }
    </style>
</head>
<body>
    <header>
        <h1>Caso de éxito en Machine Learning Supervisado</h1>
    </header>
    <section>
        <h2>¿Qué es Machine Learning?</h2>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
            El 'machine learning' o aprendizaje automático es una rama de la inteligencia artificial que permite que las máquinas aprendan ciertas tareas de algoritmos, sin que necesariamente estén programadas de manera específica para ello.
        </p>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
            Es básicamente, el reconocimiento de patrones, predicciones y recomendaciones a partir del procesamiento de grandes datos, todo para lograr las mejores decisiones y proyecciones en base a ese análisis.
        </p>
        <div class="image-container">
            <img src="https://atriainnovation.com/uploads/2023/11/portada-9-900x743-c-center.jpg" alt="Concepto de Machine Learning" style="width: 20%; margin: 20px auto; display: block; border-radius: 10px; box-shadow: 10px rgba(0, 0, 0, 0.1);">
            <p class="caption">El Machine Learning es una rama de la Inteligencia Artificial.</p>
        </div>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68; background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
            En aplicaciones prácticas lo vemos en las sugerencias personalizadas de compra en plataformas online o recomendaciones de canciones. En su forma más básica analiza el historial de compras y reproducciones del usuario y lo compara con lo que han hecho otros usuarios con tendencias o gastos parecidos.
        </p>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
            Spotify, Youtube y las principales plataformas de streaming lo usan para recomendar nuevos contenidos que mantengan al usuario en la página durante más tiempo. La red social X, por ejemplo, se sirve de algoritmos de machine learning para reducir en gran medida el spam publicado.
        </p>
        <h2>¿Qué es Machine Learning Supervisado?</h2>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
         El aprendizaje supervisado es el uso de conjuntos de datos etiquetados para entrenar algoritmos que clasifican los datos o predicen los resultados con precisión. Este tipo de machine learning debe su nombre a que la máquina está "supervisada" mientras aprende, lo que significa que se alimentan a los algoritmos con información para ayudarles a aprender.
         </p>
         <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
         El resultado que se le proporciona a la máquina son datos etiquetados, y el resto de la información que se le da se utiliza como características de entrada.
         </p>
         <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
         Entre los algoritmos más utilizados en el aprendizaje supervisado se encuentran las redes neuronales (neural networks) y los árboles de decisión (decision trees).
         </p>
    </section>
    <section>
        <h2>Caso de éxito</h2>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
        En la Universidad Politécnica de Madrid, para un proyecto de grado en Ingeniería de Software, el ingenierio Juan Sebastian Moreno y su director Fernando Ortega, desarrollaron modelos de ML con algoritmos de aprendizaje supervisado para predecir ataques cardíacos. "Utilizaremos una base de datos que contiene datos médicos de varios pacientes, y compararemos diferentes algoritmos de aprendizaje automático para averiguar con cuál podemos obtener mejores resultados prediciendo si se producirá un infarto o no."
        </p>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
        Se probaron diferentes algoritmos de aprendizaje supervisado y técnicas de preprocesamiento para determinar cuál ofrece mejores resultados en términos de precisión y capacidad de predicción. Se compararon métodos de sobremuestreo (oversampling) y submuestreo (undersampling) para equilibrar las clases en el dataset. Finalmente, se concluyó que los algoritmos más efectivos fueron Logistic Regression y Random Forest Classifier, con un F1-score del 85% y solo tres falsos negativos.
        </p>
        <div class="image-container">
            <img src="https://unifranz.edu.bo/wp-content/uploads/2024/09/m-learning1-blog.jpg" alt="Concepto de Machine Learning" style="width: 20%; margin: 20px auto; display: block; border-radius: 10px; box-shadow: 10px rgba(0, 0, 0, 0.1);">
            <p class="caption">Prevenir ataques cardíacos mediante ML.</p>
        </div>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
        La conclusión indica que los algoritmos Logistic Regression y Random Forest Classifier fueron los más efectivos en la predicción de ataques cardíacos, alcanzando un F1-score del 85%, lo que significa que lograron un buen equilibrio entre precisión (predicciones correctas de ataques) y sensibilidad (capacidad de detectar los casos reales). Además, solo generaron tres falsos negativos, es decir, solo en tres casos el modelo no detectó un ataque cardíaco cuando realmente ocurrió. Esto es clave en el ámbito médico, ya que minimizar los falsos negativos es fundamental para evitar que pacientes en riesgo no reciban atención oportuna.
        </p>
        <p class="contenido" style="text-align: center; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68;background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
        La alta precisión del modelo mejora el diagnóstico y reduce la dependencia exclusiva de la evaluación médica tradicional, ayudando a los profesionales de la salud a tomar mejores decisiones basadas en datos. Esto no solo optimiza los recursos médicos, sino que también contribuye a salvar vidas al proporcionar alertas oportunas y mejorar los tratamientos preventivos.
        </p>
    </section>
    <section>
        <h2>Ejemplos de empresas usando Machine Learning</h2>
        <p class="contenido" style="display: flex; align-items: center; justify-content: left; text-align: left; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68; background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Netflix-new-icon.png" alt="Netflix Logo" style="width: 100px; height: auto; margin-right: 10px;">
        <span><b>Netflix:</b> Usa Machine Learning supervisado para predecir qué series o películas pueden interesar a los usuarios. El modelo se entrena con datos etiquetados sobre lo que los usuarios han visto, puntuaciones y tiempo de visualización para recomendar contenido similar.</span>
        </p>
        <p class="contenido" style="display: flex; align-items: center; justify-content: left; text-align: left; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68; background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png" alt="PayPal Logo" style="width: 100px; height: auto; margin-right: 10px;">
        <span><b>Pay Pal:</b> Usa Machine Learning supervisado para identificar transacciones fraudulentas. El modelo se entrena con datos de transacciones etiquetadas como "fraudulentas" o "legítimas" para detectar patrones y bloquear actividades sospechosas en tiempo real.</span>
        </p>
        <p class="contenido" style="display: flex; align-items: center; justify-content: left; text-align: left; font-size: 16px; padding: 10px; border-left: 5px solid #195a68; border-right: 5px solid #195a68; background: #ffffff; border-radius: 10px; box-shadow: 5px rgba(0, 0, 0, 0.1);">
        <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2cc9.png" alt="Tesla Logo" style="width: 100px; height: auto; margin-right: 10px;">
        <span><b>Tesla conducción automática:</b> Tesla entrena su sistema de Autopilot con Machine Learning supervisado, usando millones de imágenes y videos etiquetados de situaciones de tráfico reales. El modelo aprende a identificar peatones, señales de tránsito y otros vehículos para mejorar la conducción autónoma.</span>
        </p>
    </section>
    <section>
        <h2>Referencias</h2>
        <p>Moreno Sánchez, J. S. (2021). Predicción de ataques cardíacos mediante técnicas de Machine Learning [Trabajo de Fin de Grado, Universidad Politécnica de Madrid].</p>
        <p>IBM. (s.f.). Casos de uso de Machine Learning. IBM. Recuperado el 13 de Marzo, de https://www.ibm.com/es-es/think/topics/machine-learning-use-cases</p>
        <p>SAP. (s.f.). ¿Qué es Machine Learning? SAP. Recuperado el 13 de Marzo, de https://www.sap.com/latinamerica/products/artificial-intelligence/what-is-machine-learning.html</p>
    </section>

    <footer>
        <p>💻👾💻</p>
    </footer>
</body>
</html>
